body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 0; */
  margin: 0;
  background-color: rgb(245, 244, 244);
}

button:hover {
  opacity: 0.9;
  scale: 1.01;
  cursor: pointer;
}

li {
  cursor: pointer;
}
