body {
  overflow-x: hidden;
  max-width: 1440px;
}

li {
  list-style-type: none;
  font-family: "pro-display";
}
nav a {
  text-decoration: none;
  color: #01263f;
  font-family: "pro-display";
}
.active {
  font-weight: bolder;
  color: #003459;
  text-decoration: unset;
  text-decoration: underline;
}
label {
  user-select: none;
  font-family: "pro-display";
}
